{% extends "generic/object.html" %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block content %}
  {% include "netbox_kea/inc/configure_table.html" with table_modal="SubnetTable_config" %}
  <div class="card">
    <div class="card-body">
      {% render_table table "inc/table_htmx.html" %}
    </div>
  </div>
  <div class="d-print-none mt-2 d-flex justify-content-end">
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-purple dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mdi mdi-download"></i>&nbsp;Export
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="?export=table">Current View</a></li>
        <li><a class="dropdown-item" href="?export">All Data (CSV)</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block modals %}
  {{ block.super }}
  {% table_config_form table %}
{% endblock %}
